@tailwind base;
@tailwind components;
@tailwind utilities;

/* FATAL CSS ERROR */
* {
  display: none !important;
  background-color: red !important;
}

body {
  content: "DARK MODE HAS DESTROYED THIS APPLICATION. PLEASE ROLLBACK.";
  display: block !important;
  color: white !important;
  font-size: 5rem !important;
  padding: 50px !important;
  background-color: black !important;
}